body {
    margin: 0;
    padding: 0;
}

.container {
    width: 60vw;
    height: 60vh;
    margin: 20vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
form{
    width: 50%;
    display: flex;
}
table{
   width: 50%;
   border-collapse: collapse;
   
}
td{
    padding: .3em;
    border: 1px solid black;
}
input[type="text"]{
    width: 95%;
    padding: .3em;
}
input[type="button"]{
    width: 5%;
}